.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("./assets/news-background.jpeg") no-repeat;
  background-size: cover;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

